@media screen and (max-width:639px){
    .head-wideLogo {
    height: 145px;
    }
    .socialShareButton a {
    margin-right: 5%;
    }
}
@media screen and (min-width:640px){
    .head-wideLogo {
    height: 150px;
    }
}
@media screen and (min-width:700px){
    .head-wideLogo {
    height: 155px;
    }
    .socialShareButton a {
    margin-right: 8%;
    }
}
@media screen and (min-width:760px){
    .head-wideLogo {
        height: 160px;
    }
    .socialShareButton a {
        margin-right: 10%;
    }
}
.shoppingInfinity {
    
}

.swiper-button-prev {
    
}
