@import url('reset.css');
@import url(posts.css);
@font-face{
    font-family:'rub';
    src:url(iconfonts/RUBSN.otf);
}
/* ----------------------< stop reset >---------------------- */

/* ----------------------< start general settings >---------------------- */
body{
	font-family: "Gill Sans", "Arial", sans-serif;
    min-width: 600px;
    max-width: 800px; 
    margin: 0 auto;
}
.clearfix {
clear: both;
}



/* ---------------------< header part >----------------------*/
.header{
	width:100%;
    max-width: 800px;
    margin: 0 auto;
}
/*black bg header*/
.general-head-second{
    width: 100%;
    height: 96px;
    background: rgba(0, 0, 0, 1);
}
.general-head-third{
    width: 100%;
    height: 96px;
    background: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
}
.general-head{
	width: 100%; /*---<temp>---*/
	height: 278px;
	background: url(../img/foto-bg.png) no-repeat 100% 100%;
	background-size: 100%;
	margin: 0 auto;
}
.head-top{
	width:100%;
	height:96px;
	background: rgba(0, 0, 0, .45);
    float: left;
}
.toggle-menu{
	width: 40px;
	height:36px;
	background: url(../img/menu-icon.svg) no-repeat 0 0;
	float:left;
	margin: 25px 0 0 22px;
}
.customURL{
    width: 93.75%;
    padding: 0 3.125%;
    float: left;
    background: #fff;
    margin: 23px 0 56px 0;
}
.customURL p,
.customURL a{  
    font-size: 28px;
    text-align: left;
    color: #8196AF;
    line-height: 36px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.customURL a:not(:last-child):after{
    content: ' /';
}
.head-logo{
    display: block;
	width:300px;
	height:70px;
	background:url(../img/logo.png) no-repeat 0 100%;
	margin:0 auto;
	background-size:100%;
    outline: none;
}
.head-basket{
    display: block;
	width:42px;
	height:46px;
	background:url(../img/Sopping-bag.svg) no-repeat 0 0;
	float:right;
	margin: 20px 22px 0 0;
    position: relative;
}
.head-bottom{
	width:100%;
    float: right;
}
.search-page{
	width: 93.75%;
    position: relative;
    margin: 50px 3.125%;
    float: left;   
}
.search{
	width: 93.75%;
    position: relative;
    margin-top: 50px;
    margin-left: 2.8125%;
/*    margin: 50px auto;*/
    float: left;
}
input[name='top-search']{
	width:100%;
	height:94px;
    padding-left: 3.333333333333%;
	border: 2px solid #8196AF;
	font-size: 36px;
    font-weight: lighter;
	color: rgb(33, 33, 33);
    margin: 0 auto;
    border-radius: 0;
    box-shadow: 0;
    box-sizing: border-box;
}
#top-search>input::webkit-input-placeholder,
#top-search>input::moz-input-placeholder{
    color: rgba(193, 193, 193);
}
input[name="search-btn"]{
	width:40px;
	height:40px;
	background: url(../img/lince.svg);
	border:none;
	position: absolute;
	top: 27px;
	right: 34px;
}
/* --------------------< products part >----------------------- */
.main{
	width:100%; /* original width- 640px;max width 800px*/
	background:#fff;
/*    overflow-x: scroll;*/
    margin: 0 auto;
}
.goods-part{
	width: 93.75%;  /* 600/640 */
    max-width: 760px; /* maxwidth(800) - right+left margins(20+20)*/
	margin: 0 auto;
}
.goods-list{
	width: 100%; /* from .goods-part; equel 600px */
	margin:0 auto 65px;
    float: left;
}	
a[name="item-link"]{
	display:inline-block;
	text-decoration:none;
	width: 48%; /* 288/600 from .goods-list */
	height: 288px;
    margin-right: 3.333333333333%; /* 20/600 from .goods-list */
    margin-bottom: 20px;
}
a[name="item-link"]:nth-child(2n){
    margin-right: -1px;
}
a[name="item-link"]:nth-last-child(1),
a[name="item-link"]:nth-last-child(2){
    margin-bottom: -3px;
}
a[name="item-link"]:nth-child(1),
a[name="item-link"]:nth-child(2){
    margin-top: 40px;
}
.goods-item{
	display: inline-block;
	width: 100%; /* 1:1 width .link-item */ 
	height:100%;
	border: 1px solid #e0e0e0;
	background:#fff;
	float:left;
}
.item-name{
	margin-top:20px;
}
.item-name p{
	text-align:center;
	font-size: 28px;
	text-transform: uppercase;
	color: rgb(51, 51, 51);
}
.item-picture{
	width: 200px;  /* 200/288 */
	height: 200px; /* 200/288 */
	margin:25px auto 0;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
/*
a[name='item-link']:nth-child(1) .item-picture  {
	background-size:161px;
}
*/
/* ----- setting for the containers name ---- */
.container-name{                    
	font-size: 28px;
	text-transform: uppercase;
	color: #8196AF;
    margin: 0px 20px 20px 3.125%; /* left 20px from 640 */
    overflow: hidden;
}
.container-name p{
    overflow: hidden;
    white-space: nowrap;
}
.container-name.cut p:after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #8196AF;
    margin-left: 26px;
    margin-bottom: 7px;
}

div[name="interview-chapter"],
div[name="blog-chapter"],
div[name="inst-chapter"]{
	margin-left:0;
}
div[name="inst-chapter"]{
    margin-left: 3.125%;
}
div[name="interview-chapter"],
div[name="blog-chapter"]{
    padding-left: 0;
}
.container-name.cut p{
/*make*/

}
/* ----------------------< slider #1 >--------------------------------*/
.slider-main{
    width: 100%;
    float: left;
}
.slider-general{
    width:96.875%; /* 620px/640 */
	height:397px;
	margin-left:20px;
	overflow-x:scroll;
	float: right;
}
.slider-container{
	width: 791px; /* 791/620*/
	height:346px;
	margin-left: 3.125%;
    margin: 0 auto;
}
.slide{
/*	display:inline-block;*/
    float: left;
	width:250px;
	height:100%;
	margin-right:20px;
}
.slide:last-child{
    margin-right: 0;
}
/*.slider-container:last-child{
	margin-right:0;
	}*/
.slide-img{
	width:250px;
	height:250px;
	background-size: 250px auto;
	background-repeat:no-repeat;
}
.slide-name{
    overflow: hidden;
    text-overflow: ellipsis;
}
.slide-name span{
	font-size: 25px;
	color: #000;
	white-space: nowrap;
	line-height:50px;
	padding-right: 7px;
}
.slide-price{
	float:left;
	color: #0a0a0a;
	font-size: 25.1875px;
	padding-top: 19px;
    font-weight: 600;
}
.slide-price span{
	/*font-size:19.1304340362549px;
	vertical-align: super;
	color: #7f7f7f;*/
} 
.slide-price span:before{
	content:".";
}
.slide-label{
	width:114px;
	height:36px;
	margin-top:10px;
	float:right;
	text-align:center;
}
.slide-label.lb-best{
	background: #00CCCC;
}
.slide-label.lb-sale{
	background: #FC3768;
}
.slide-label.lb-new{
	background: #8196AF;
}
.slide-label span{
	text-transform:uppercase;
	line-height:35px;
	color:#fff;
	font-size:20px;
}
/* -------------------< interview and blog blocks >------------------- */
.interview-container,
.blog-container{
	width:100%;
    height: 460px;
    float: left;
	background: #fff;
}
.blog-container{
     margin-top: 57px;   
}
.interview-general,
.blog-general{
	width: 93.75%;
    height: 100%;
	margin: 0 auto;
	background:#fff;
}
.inter-people,
.blog-note{
	width:100%;
	height:180px;
	float:left;
	margin-bottom: 40px;
}
.people-img,
.note-bg{
	width:180px;
	height:180px;
    float: left;
	background-size:contain;
	background-repeat: no-repeat;
}
.report-container,
.note-container{
	width:60%; /*400px;*/
	height:100%;
	float:left;
    margin-left:20px;
	position:relative;
}
.people-report,
.note-text{
    max-height: 150px;
    overflow: hidden;
}
.people-report p,
.note-text p{
	font-size:25px;
	line-height:38px;
	font-weight: 600;
	text-align: left;
	color: rgba(0, 0, 0, 1);
	text-transform: uppercase;
	margin-top:-8px;
    
}
.read-more{
	float:right;
	position: absolute;
	left:0;
	bottom:-2.777777777778%;	
}
.read-more a{
	text-decoration: none;
	color: rgba(129, 150, 175, 1);
	font-size:24px;
	font-family: "Myriad Pro", "Arial", sans-serif;
}
/* ----------------< start instagram feeds >--------------------- */
.inst-container{
    width: 100%;
/*    margin: 0 auto;*/
    float: left;
    margin-top: 75px;
}
.inst-general{
    width: 96.875%; /* 620/640 */
    height: 233px;
    float:left;
    overflow-x: scroll;
    margin-left: 3.125%; /*20px;*/
    /* margin: 0 auto; */
}
.feed-container{
    width: 780px; /*800px;  total width for all feeds */
    height: 230px;
    float: left;
}
.feed-list{
    display: block;
    list-style: none;
}
.feed-element{
    height: 223px;
    width: 180px; /* 180/800 */
/*    display: inline-block;*/
    margin-right: 20px; /*fix*/
    float: left;
    position: relative;
}
.feed-element:last-child{
    margin-right: 0;
}
.feed-bg{
    width: 100%;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
}
.feed-rate{
    width:151px;
    height: 24px;
    float: right;
    margin-top: 19px;
/*    margin-top: 190px;*/
}
.rate-like,
.rate-comment{
    width: 50%;
    height: 100%;
    float: right;
}
/*
.rate-comment{
    float: right;
}
*/
.feed-like{
/*    display: inline-block;*/
    float: right;
    width: 28px;
    height: 24px;
    background: url(../img/inst-feed/heart.svg) no-repeat 0 0;
    background-size: contain;
    margin-right: 5px;
}
.like-calc,
.comment-calc{
/*    display: inline-block;*/
    float: right;
    font-size: 26px;
    color: #ccc;
    font-family: "Myriad Pro", "Arial", sans-serif;
    vertical-align: bottom;
    
    
}
.feed-comment{
/*    display: inline-block;*/
    float: right;
    width: 24.7px;
    height: 20px;
    background: url(../img/inst-feed/comment.svg) no-repeat 0 0;
    background-size: contain;
    margin-right: 5px;
}

/* -----------------------start menu--------------- */
.menu-container{
    width: 100%;
/*    margin: 0 auto;*/
    float: left;
    margin-top: 35px;
}
.menu-general{
    width: 100%;
    background: #fff;
}
.menu-list{
    display: block;
    float: left;
    width: 100%;
    height: auto;
}
.menu-item{
    width: 100%;
    height: 118px;
    border-top: 2px solid #ddd; 
    background: #8196AF;
}
.item-currency{           /* ------ start currency changer ------- */
    width: 100%;
    height: 250px;
    border-top: 2px solid #ddd; 
    background: #8196AF;
    position: relative;
}
.currency-selectors{
    width: 90%; /*576px*/
    height: 95px;
    position: absolute;
    bottom: 52px;
    left: 3.125%; /* 21px */
    
}
.select-region,
.select-currency{
    width: 46.006944444444%;
    height: 100%;
    background: #fff;
/*    display: inline-block;*/
    float: left;
}
.select-region{
    margin-right: 7.986111111111%; /*46px/576*/
}
.select-region li,
.select-currency li{
    width: 238;
    height: 69px;
    background: #fff;
    color: #000;
    display: none;
    font-size: 36px;
    color: #666;
    text-transform: uppercase;
    padding: 26px 0 0 27px;
}
.select-region ul li[name="checked"],
.select-currency ul li[name="checked"]{
    display: block;
}
.currency-toggle{
    width: 50px;
    height: 28px;
    float: right;
    margin: 35px 23px 0 0;
    background: url(../img/currency-toggle.svg) no-repeat 0 0;
    background-size: contain;
    cursor: pointer;
}

.menu-item-name{
    width: 100%;/*568px*/
    height: 118px;
    line-height: 118px;
}
.menu-item .menu-item-name p,
.item-currency .menu-item-name p{
    font-size: 40px;
    color: #fff;
    float: left;
    margin-left: 7.8125%; /* 50px/640 */
}
.item-currency .menu-item-name p{
    font-size: 28px;
    margin-left: 3.125%;
    text-transform: uppercase;
}

/* .sub-menu-toggle:hover{
    transform: rotate(180deg);
    transition: .3s;
} */
.sub-menu{
    width: 100%;
    float: left;
    display: none;
}
.sub-item{
    height: 118px;
    width: 100%;
    border-top: 2px solid #ddd;
    background: #8196AF;
}
/* ------------------- start contact part ------------------- */
.contact{
    width: 100%;
    height: 440px;

    background: #fff;
    float: left;
/*    margin: 0 auto;*/
}
.telephone{
    width: 100%; /* 640px */
    height: 204px;
    float: left;
    margin-top: 40px;
}
.phone-icon{
    width: 18.75%; /*120px;*/
    height: 100%;
    margin-right: 4.375%; /*28px;*/
    position: relative;
    float: left;
}
.phone-icon .icon{
    width: 80%; /*96px;*/
    height: 96px;
    background: url(../img/phone.svg) no-repeat center bottom;
    background-size: contain;
    float: right;
    margin-top:20px;
}
.phone-num{
    width: 62.5%; /*400px/640;*/
    height: 100%;
    float: left;
}
.phone-num p{
    font-family: "Helvenica", "Arial", sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 16px;
}
.phone-num span{
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
}
.phone-num a[href^="tel:"]{
    font-size: 48px;
    color: #0B40FF;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
}
.adress{
    width: 70.%; /*490px/640*/
    height: 132px;
    margin-bottom: 64px;
    margin-left: 23.4375%; /* 151px */
    float: left;
}
.adress p{
    font-size: 30px;
    line-height: 44px;
    color: #333;
    font-weight: 600;
    text-align: left;
}
.contact-container{
    width: 100%;
}
/* --------------- start footer part -------------*/
.footer{
     width: 100%;
    float: left;
}
.footer-container{
    width: 100%; /* 640px */
    background: #ECECEC;
    margin: 0 auto;
}
.email-inp {
    width: 93.75%; /* 600/640 */
    height: 95px;
    margin: 0 auto 81px;
    overflow: hidden;
}
.email-inp input[type="text"]{
    width: 77.333333333333%;
    height: 93px;
    padding-left: 6.666666666667%;
    border: 0;
    float: left;
    background: #fff; /*  placeholder settings  */
    font-size: 30px;
    color: #a1a1a1;
    border-radius: 0;
}
.add-email{
    width: 15%;
    max-width: 110px;
    height: 95px;
    background: #AFC4DB url(../img/add-email.svg) no-repeat 50% 50%;
    float: left;
    cursor: pointer;
    transition: .5s;
}

div[name="footer-info"]{
    font-size: 28px;
    color: #333333;
    text-transform: uppercase;
    padding-top: 54px;
    margin-left: 7.8125%; /* 50/640 */
}
.copyright{
    margin-left: 7.8125%; /* 50/640 */
    padding-bottom: 35px;
}
.copyright span{
    font-size: 24px;
    color: #4E4E4E;
}
/* ------------ media request part --------------- */



/* ------------------ >start topmenu ----------------- */

.headMenuContainer{
    width:100%;
    display: none;  /* trigger to headMenu*/
    float:left;
}
.headMenuGeneral{
  width:100%;
  float:left;
/*    max-width: 727px*/
  /* position:absolute; */
}
/* ---- >custom item's style ----*/
.subMenuOneItem.viewAll,
.subMenuTwoItem.viewAll{
    font-style: italic;
}
.subMenuOneItem.newWeek a{
    color: #FC3768;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
/* -------------------- */
.headMenuItem a{
  width:100%;
  height:118px;
  border-top: 2px solid #ddd;
  float:left;
  background: #8196AF;
  text-decoration: none;
  font-size: 40px;
  color: #fff;
    line-height: 118px; /* equel height block */
    text-indent: 63px;
}
.headMenuItem:last-child a{
  border-bottom: 2px solid #ddd;
}
/* >firsr sub menu */
.subMenuOne{
  width:100%;
  float:left;
  display: none;   /* trigger one subMenu */
}
.subMenuOneItem a{
  width: 100%;
  height: 118px;
  /* border: 2px solid #ddd; */
  background: #A6B5C7;
}
.toggleMenu{
  width:57px;
  height:27px;
  background: url(../img/menu-togge.svg) no-repeat 50% 50%;
  background-size: contain;
  float: right;
  margin: 45px 21px 0 0;

}
.sortOption .toggleMenu{
    background: url(../img/menu-togge-grey.svg) no-repeat 50% 50%;
    margin: 27px 10px 0 0;
    background-size: contain;
}
/* >second sub menu */
.subMenuTwo{
  width:100%;
    max-width: 800px;
  float:left;
  display: none;   /* trigger two subMenu*/
}

.subMenuTwoItem a{
  width:100%;
  height:76px;
    line-height: 76px;
/*  padding: 15px 0;*/
  background: #fff;
  border: none;
  color: #8196AF;
}
.subMenuTwoItem a:hover{
    background: #eee;
}
.subMenuTwoItem:first-child a{
    border-top: 2px solid #ddd;
    padding-top: 19px;
}
.subMenuTwoItem:last-child a{
    padding-bottom: 26px;
}

/* -------------------- >product list -------------------- */
.productList-container {
    width: 100%;
    max-width: 800px;
    float: left;
    margin-bottom: 40px;
}
.productList-container:last-child{
    margin-bottom: 150px;
}

.productList-general {
    width: 100%;
    margin: 0 auto;
}

.productList-head {
    width: 93.75%;
    float: left;
    margin-left: 3.125%;
    margin-bottom: 31px;
}
.productList-head p{
    font-size: 28px;
    color: #8196AF;
    text-transform: uppercase;
    text-align: center;
}

.productList-main {
    width: 100%;
}

.listCataMain-head {
    width: 93.75%;
    float: left;
    clear: both;
    margin-bottom: 50px;
    position: relative;
    margin-left: 3.125%;
    z-index: 99;
}

.headListMain-changer{
    width: 45.333333333333%;
    height: 74px;
    float: left;
}

.headListMain-sort {
    width: 54.266666666667%;
    height: 72px;
    float:right;
    border: 1px solid #979797;
    border-right: none;
    transition: .5s;
}
.sortOption{
    width: 100%;
    height: 100%;
    float: right;
    background: #fff;
    font-size: 30px;
    color: #a1a1a1;
    line-height: 72px;
    border: 1px solid #a1a1a1;
    border-top: none;
    display: none;
    z-index: 999;
    text-indent: 17px;
    /* >overflow options 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
     /overflow options */
    
}
.sortOption:hover{
    background: #f9f9f9;
}
.sortOption:first-child{
    display: block;
/*    border-bottom: none;*/
}
.headListMain-sort:hover .sortOption{
    display: block;
/*    transition: .5s;*/
}
.headListMain-sort:hover .sortOption .toggleMenu{
    transform: rotate(180deg);
    transition: all .5s;
}

.productView-full,
.productView-small,
.productView-list{
    width: 50px;
    height: 50px;
    float: left;
    margin: 13px 15% 0 0;
    cursor: pointer;
}
.productView-list{
    margin: 13px 11.029411764706% 0 0;
}

.productList-main.fullView{display: none;}
.productList-main.smallView{display: none;}
.productList-main.listView{display: block;}

/*full*/
.fullView .productView-full{
    background: url(../img/viewer/viewf.svg) no-repeat 50% 50%;
}
.fullView .productView-small{
    background: url(../img/viewer/views-no.svg) no-repeat 50% 50%;
}
.fullView .productView-list{
    background: url(../img/viewer/viewl-no.svg) no-repeat 50% 50%;
}
/*small*/
.smallView .productView-full{
    background: url(../img/viewer/viewf-no.svg) no-repeat 50% 50%;
}
.smallView .productView-small{
    background: url(../img/viewer/views.svg) no-repeat 50% 50%;
}
.smallView .productView-list{
    background: url(../img/viewer/viewl-no.svg) no-repeat 50% 50%;
}
/*list*/
.listView .productView-full{
    background: url(../img/viewer/viewf-no.svg) no-repeat 50% 50%;
}
.listView .productView-small{
    background: url(../img/viewer/views-no.svg) no-repeat 50% 50%;
}
.listView .productView-list{
    background: url(../img/viewer/viewl.svg) no-repeat 50% 50%;
}

.productFull-container {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 60px;
    z-index: 1;
}

.productFull-general {
    width: 93.75%;
    margin: 0 auto;
}

.productFull-pic {
    float: left;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
}

.productLabel-best,
.productLabel-sale,
.productLabel-new{
    width: 120px;
    height: 120px;
    background: #00CCCC;
    border-radius: 100px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
}
.productSmall-pic .productLabel-best,
.productSmall-pic .productLabel-sale,
.productSmall-pic .productLabel-new{
    width: 80px;
    height: 80px;
}
.productLabel-sale{
    background: #FC3768;
}
.productLabel-new{
    background: #8196AF;
}
/*   >badge pack */
/*    >full*/
.fullBadgeBest,
.fullBadgeSale,
.fullBadgeNew,
.savePercent{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 40px;
    line-height: 120px;
    text-align: center;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fullBadgeSale{
    font-size: 30px;
    line-height: 75px;
}
.fullBadgeSale+.savePercent{
    font-size: 40px;
    line-height: 0;
    margin-left: 10px;
}
/*    >small*/
.smallBadgeBest,
.smallBadgeSale,
.smallBadgeNew,
.savePercent{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
}
.smallBadgeSale{
    font-size: 24px;
    line-height: 50px;
}
.smallBadgeSale+.savePercent{
    font-size: 30px;
    line-height: 0;
/*    margin-left: 10px;*/
}
/*    >list*/


.productFull-pic img,
.productSmall-pic img{
    width: 100%;
    height: auto;
}

.productFull-name {
    width: 100%;
    font-size: 40px;
    color: #000;
    line-height: 38px;
    float:left;
    margin-top: 18px;
}

.productFull-sub {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #666;
    text-align: left; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 29px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.addToCart {
    float: left;
    width: 250px;
    height: 80px;
    border: none;
    background: #8196AF;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.productFull-price {
    float: right;
    font-size: 48px;
    font-family: 'Myriad Pro', sans-serif;
    color: #8196AF; 
    line-height: 80px;
}

.productSmall-price .currency-char{
    line-height: 50px;
}
.currency-char.rub{
    font-family: 'rub';
    line-height: 40px;
}

.shoppingBag-container {
    width: 93.233333333333%;
    position: absolute;
    left: 3.333333333334%;
    top: 200px;
    z-index: 109;
    background: #fff;
    border: 1px solid #979797;
    
}

.shoppingBag-general {
    width: 88.571428571429%;
    float: left;
    margin-left: 5.714285714286%;
}

.shoppingBag-head {
    width: 100%;
    height: 36px;
    margin: 28px 0 42px 0;
}

.shoppingBag-chapt span{
    font-size: 28px;
    color: #333;
    line-height: 32px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
}

.shoppingBag-chapt {
    width: 90;
    float: left;
}

.shoppingBag-close {
    width: 36px;
    height: 36px;
    background: url(../img/close.svg) 50% 50% no-repeat;
    background-size: contain;
    float: right;
}

.SBmain-img {
    width: 100px;
    height: 100px;
    float: left;
    background-position: 50% 50%;
    background-size: 100px;
    
}

.SBmain-order {
    width: 76.612903225806%;
    float: right;
    margin-top: 10px;
}
.SBmain-order p[name="head"]{
    font-size: 36px;
    color: #000;
    text-align: left;
    line-height: 29px;
    margin-bottom: 10px;
}
.SBmain-order p[name="sum"]{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    color: #000;
    line-height: 29px;
    text-align: left;
    margin-bottom: 5px;
}
.SBmain-order p[name="quantity"]{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    color: #666;
    line-height: 23px;
    margin-bottom: 25px;
}

.SBcheckout, .SBcontinue {
    border: none;
    width: 100%;
    height: 70px;
    float: left;
    margin-bottom: 21px;
    font-size: 30px;
    font-weight: 500;
    line-height: 43px;
    text-align: center;
    color: #fff;
    background: #00CCCC;
    text-transform: uppercase;
    
}
.SBcontinue{
    margin-bottom: 34px;
    background: #ccc;
}

.shoppingButtons {
    width: 100%;
    float: left;
    margin-top: 41px;
}

.shoppingBag-main {
    margin-bottom: 40px;
}

.SBmain-totalOrder {
    float: left;
    font-size: 36px;
    color: #333;
    line-height: 41px;
    
    text-align: left;
    text-transform: uppercase;
}
.SBmain-totalOrder span{
    font-family: 'Myriad Pro', sans-serif;
    line-height: 43px;
    color: #000;
}

.searchResult-general {
    width: 100%;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 32px;
    color: #8196AF;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.smallSideRight {
    width: 48.333333333333%;
    float: right;
    background: red;
}

.smallSideLeft {
    width: 48.333333333333%;
    float: left;
    background: green;
}

.productSmall-container {
    width: 100%;
    float: left;
    clear: right;
    position: relative;
    margin-bottom: 29px;
/*    margin-right: 1.666666666667%;*/
    z-index: 1;
}
.productSmall-container:nth-child(2n){
    margin-right: 0;
    float: right;
    clear: left;
}
.productSmall-pic {
    float: left;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
}

.productSmall-general {
    width: 100%;
}

.smallView .productCatalogue,
.listView .productCatalogue{
    width: 93.75%; /*93.75%;*/
    margin: 0 auto;
}

.productSmall-name span{
    width: 100%;
    font-size: 30px;
    color: #000;
    line-height: 38px;
/*    margin-top: 10px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.productSmall-price {
    width: 51.034482758621%;
    height: 50px;
    background: #8196AF;
    color: #fff;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 2px;
    right: 0;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.cataLeftSide {
    width: 48.333333333333%;
    float: left;
}

.cataRightSide {
    width: 48.333333333333%;
    float: right;
}

.productList-pic {
    width: 200px;
    height: 200px;
    float: left;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.productList-pic img{
    width:100%;
    height: auto;
}

.productList-price {
    width: 47.244094488189%;
    height: 50px;
    background: #8196AF;
    color: #fff;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    float: right;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.listInfo-bottom {
    width: 100%;
    float:right;
}

.listItem-shipping {
    width: 47.244094488189%;
    float: right;
}

.itemShipping-value,
.itemDelivery-value{
    width: 100%;
    height: 50px;
    float: right;
    box-shadow: inset 0 0 0 1px #cdcdcd;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #000;
}
.itemDelivery-value{
    float: left;
}

.squareBadge {
    width: 47.244094488189%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Helvetica', sans-serif;
    float: left;
}
.squareBadge.SQbest{
    color: #00CCCC;
    box-shadow: inset 0 0 0 1px #00CCCC;
}
.squareBadge.SQnew{
    color: #8196af;
    box-shadow: 0 0 0 1px #8196af;
}
.squareBadge.SQsale{
    color: #FC3768;
    box-shadow: inset 0 0 0 1px #FC3768;
}

.itemShipping-head,
.itemDelivery-head{
    font-size: 22px;
    color: #a1a1a1;
    line-height: 25px;
    text-align: center;
    margin-bottom: 7px;
}

.listItem-delivery {
    width: 47.244094488189%;
    float: left;
}
.listItem-delivery,
.listItem-shipping{
    margin-bottom: 15px;
}

.productList-info {
    width: 63.5%;
    float: right;
    margin-top: 4px;
}

.listInfo-head {
    width: 100%;
    float: left;
    margin-bottom: 20px;   
}
.listInfo-head p{
    font-size: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    line-height: 29px;
}

.shopBag-container,
.checkout-container,
.thank-container{
    width: 100%;
    float: left;
}

.shopBag-general,
.ckeckout-general{
    width: 93.5%;
    margin: 0 auto;
}


.shopStage {
    width: 100%;
    float: left;
    border-bottom: 1px solid #979797;
    padding: 30px 0;
    text-align: left;    
    font-size: 28px;
    line-height: 32px;
    color: #8196AF;
    text-transform: uppercase;
}

.shopList-container {
    width: 100%;
    float: left;
}

.shopList-general {
    width: 100%;
    margin: 0 auto;
}

.shopItem-container {
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px solid #979797;
}

.shopItem-pic {
    width: 16.666666666667%;
    float: left;
    margin-top: 50px;
}
.shopItem-pic img{
    width: 100%;
    height: auto;
    max-height: 200px;
}

.shopItem-quantity {
    width: 33.860045146727%;
    height: 60px;
    background: #fff;
    border: 2px solid #D6D6D6;
    font-size: 36px;
    color: #000;
    line-height: 60px;
    text-align: left;
    text-indent: 20px;
    position: relative;
}
.shopItem-quantity:hover{
    border: 2px solid #00CCCC;
}
.shopItem-quantity ul li{
    border: 1px solid #d6d6d6;
    border-top: 0;
    visibility: hidden;
}
.shopItem-quantity ul li.itemChecked{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 0;
    border-right: 0;
}


.shopItemInfo-foot {
    width: 100%;
    float: right;
    margin-bottom: 50px;
}

.shopItemInfo-head {
   width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    clear: both;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 32px;
}

.shopItem-price {
    width: 200px;
    float: right;
    margin-right: 6.666666666667%;
}

.shopItemPrice-actual {
    text-align: right;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 36px;
    color: #000;
    line-height: 43px;
}

.shopItemPrice-old {
    text-align: center;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    color: #FC3768;
    text-decoration: line-through;
    line-height: 29px;
    text-indent: 29px;
    
}

.openDropDown {
    width: 40px;
    height: 18px;
    position: absolute;
    top: 20px;
    right: 16px;
    background: url(../img/dropdown.svg) no-repeat 50% 50%;
    background-size: contain;
}
.deliverySelectCountry .openDropDown{
    width: 50px;
    height: 28px;
    position: absolute;
    top: 35px;
    right: 40px;
    background: url(../img/dropdown-blue.svg) no-repeat 50% 50%;
    background-size: contain;  
}

.shopItem-info {
   width:  80%;
    float: right;    
    margin-top: 50px;
}

.shopDelivery-foot {
    width: 100%;
    float: left;
    text-align: left;
    font-size: 36px;
    line-height: 41px;
    color: #333;
    border-bottom: 1px solid #979797;
}

.totalDelivery{
    float: left;
    width: 100%;
    margin-bottom: 23px;
}
.totalDelivery span{
    float: right;
    font-family: 'Myriad Pro', sans-serif;
}

.shopDelivery-container {
    width: 100%;
    float: left;
}

.shopDelivery-general {
    width: 93.75%;
    margin: 0 auto;
}

.deliverySelectCountry {
    width: 100%;
    height: 95px;
    background: #fff;
    border: 2px solid #D6D6D6;
    font-size: 40px;
    color: #000;
    line-height: 95px;
    text-align: left;
    text-indent: 40px;
    position: relative;
}
.deliverySelectCountry ul li{
    border: 1px solid #d6d6d6;
    border-top: 0;
    visibility: hidden;
}
.deliverySelectCountry ul li.countryChecked{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 0;
    border-right: 0;
}



.shopDelivery-head {
    width: 100%;
    float: left;
    margin-bottom: 34px;
}
.shopDelivery-head p{
    text-align: left;
    font-size: 30px;
    color: #000;
    line-height: 41px;
    margin: 30px 0 15px 0;
}

.shopTotalSum-general {
    width: 100%;
    float: left;
    font-size: 48px;
    font-weight: 600;
    margin-top: 38px;
}
.shopTotalSum-general span{
    float: right;
    font-family: 'Myriad Pro', sans-serif;
}

.shopTotalSum-container {
    width: 93.75%;
    margin:0 auto;
}

.includingDelivery {
    float: left;
    text-align: left;
    font-size: 24px;
    line-height: 43px;
    color: #909294;
    font-family: 'Gill Sans', 'Arial', sans-serif;
    text-transform: lowercase;
}

.shopCheckout {
    width: 93.75%;
    margin: 0 auto;
}
.shopCheckout button{
    float: left;
    width: 99%;
    height: 95px;
    border: 0;
    background: #00CCCC;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    box-shadow: 6px 6px 0 0 rgba(149, 149, 149, .5);
    margin-top: 38px;
}

.shopStage-second {
    display: block;
    float: left;
    width: 100%;
}
.shopStage-second span:first-child{
    margin-left: 20px; 
    color: #999999;
}

.shopStage-third {
    display: block;
    margin-left: 5%;
}

.shopStage-first {
    width: 100%;
    float: left;
}
.shopStage-first p,
.shopStage-second p,
.shopStage-third p{
    float: left;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.shopStage-second p{
    text-align: center;
}
.shopStage-third p{
    text-align: right;
    padding-right: 5%;
    width: 45%;
}

.shopStage-first span,
.shopStage-second span,
.shopStage-third span{
    float: left;
    width: 25%;
}
.shopStage-second span:last-child{
    width: 20%;
}
.shopStage-second span:nth-child(1),
.shopStage-second span:nth-child(2),{
 width: 20%;   
}

.stepRightArrow {
    display: inline-block;
    width: 14px;
    height: 20px;
    background: url(../img/rigthArrow.svg) no-repeat 50% 50%;
    background-size: contain;
    margin-right: 44.666666666667%;
}
.shopStage-second span:first-child{
    margin-left: 5%;
}
.shopStage-second span:first-child .stepRightArrow{
    margin-right: 0; 
    margin-left: 44.666666666667%;   
}
.shopStage-third span .stepRightArrow{
    margin-right: 0; 
    margin-left: 44.666666666667%;   
}

.discountCode{
    width: 100%;/*56.666666666667%;*/
    height: 95px;
    float: left;
    border: none;
    padding-left: 6.666666666667%;
    font-size: 30px;
    line-height: 43px;
    color: #666;
    box-sizing: border-box;
    border: 2px solid #D6D6D6;
    border-right: 0;
}

.shopDiscount {
    width: 57.8125%;
    height: 95px;
    float: left;
    margin-top: 45px;
    margin-bottom: 100px;
/*    border-right: 38.333333333333% solid #8196AF;*/
}

.shopDiscountBtn {
    width: 42.1875%;
    height: 95px;
    float: left;
    background: #8196AF;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 100px;
}
.shopDiscountBtn:hover{
    box-shadow: 0 0 4px 1px #999;
}
.shopDiscountBtn:active{
    box-shadow: 0 0 4px 0 #999;
}
.shopDiscountBtn span{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 95px;
    font-weight: 600;
}

.shopDiscountGeneral {
    width: 93.75%;
    height: 95px;
    margin:0 auto;
}

.deleteItem {
    width: 36px;
    height: 36px;
    background: url(../img/close.svg) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 10px;
}

.head-basket .basketQuantity{
    display: none;
    width: 30px;
    height: 30px;
    background: #00CCCC;
    border-radius: 45px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: -5px;
    right: -10px;
}
form[name='clientShippingInfo'] input{
    width: 93.333333333333%;
    height: 95px;
    padding-left:6.666666666667%;
    float: left;
    background: #fff;
    border: 2px solid #D6D6D6;
    border-radius: 0;
    color: #999;
    font-size: 30px;
    margin-bottom: 15px;
}
form[name='clientShippingInfo'] input[id="clientCountry"]{
    color: #000;
}
form[name='clientShippingInfo'] label{
    font-size: 30px;
    color: #000;
    line-height: 50px;
    text-align: left;
    width: 100%;
    float: left;
}
form[name='clientShippingInfo'] label[for="clientCountry"]{
    width: 50%;
    float: left;
}

form[name='clientShippingInfo'] a{
    font-size: 30px;
    line-height: 50px;
    color: #8196AF;
    text-align: right;
    text-decoration: none;
    width: 50%;
    float: right;
    outline: none;
}
.shippingForm-container {
    width: 100%;
    float: left;
}

.shipFormHeader {
    width: 100%;
    height: 65px;
    float: left;
    margin-top: 20px;
    margin-bottom: 5px;
}
.shipFormHeader p{
    font-size: 30px;
    color: #000;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    line-height: 41px;
}
.shipFormHeader span{
    font-size: 20px;
    color: #999;
    line-height: 21px;
    text-align: left;
}

.shippingForm-general {
    width: 100%;
    margin: 0 auto;
}

.shipFormBody {
    width: 100%;
    float: left;
}

.paymentMethodSame {
    float: left;
    width: 99%;
    height: 95px;
    border: 0;
    background: #00CCCC;
    box-shadow: 6px 6px 0 0 rgba(149, 149, 149, .5);
    margin-top: 38px;
}

.paymentMethodBody {
    width: 100%;
    float: left;
    margin-bottom: 100px;
}

.paymentLogo {
    margin-left: 6.666666666667%;
    
}
.paymentMethodSame:nth-child(1) .paymentLogo{
    width: 119px;
    height: 33px;
    float: left;
    background: url(../img/paypal.svg) no-repeat 0 0;
    background-size: contain;
    margin-top: 32px;
}
.paymentMethodSame:nth-child(2) .paymentLogo:first-child{
    width: 75px;
    height: 25px;
    float: left;
    background: url(../img/visa.svg) no-repeat 0 0;
    background-size: contain;
    margin-top: 35px;
}
.paymentMethodSame:nth-child(2) .paymentLogo2{
    width: 51px;
    height: 31px;
    float: left;
    margin-left: 19px;
    background: url(../img/mactercard.svg) no-repeat 0 0;
    background-size: contain;
    margin-top: 32px;
}
.paymentMethodSame .paymentLogo.twocheck{
    width: 75px;
    height: 75px;
    float: left;
    background: url(../img/twocheckout.svg) no-repeat 0 0;
    background-size: contain;
    margin-top: 10px;
}

.paymentName {
    width: 60%;
    float: right;
    text-align: right;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size: 29px;
    margin-right: 5%;
    line-height: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paymentMethod-container {
    width: 100%;
    float: left;
}

.paymentMethod-general {
    width: 93.75%;
    margin: 0 auto;
}

.checkout-general,
.thank-general{
    width: 93.75%;
    margin: 0 auto;
}

.ourBigHeartContainer,
.orderNumContainer,
.thanksGivingContainer{
    width: 100%;
    float: left;
}
.ourBigHeartContainer{
    margin-top: 82px;
    margin-bottom: 140px;
    
}
.orderNumContainer{
    margin-top: 35px;
}
.thanksGivingGeneral{
    width: 520px;
    margin: 0 auto;
}
.orderNumGeneral{
    width: 520px;
    margin: 0 auto;
}
.ourBigHeartGeneral{
    width: 221px;
    height: 195px;
    margin: 0 auto;
    background: #fff url(../img/bigheart.svg) no-repeat 0 0;
    background-size: contain;
}

.orderMessage {
    font-size: 30px;
    color: #000;
    font-weight: 600;
    text-align: center;
    line-height: 41px;
}

.thanksMessage {
    font-size: 48px;
    color: #8196AF;
    font-weight: 600;
    line-height: 65px;
    text-align: center;   
}
.thanksGivingContaiter {
    width: 100%;
    float: left;
    margin-top: 100px;
}
.head-wideLogo {
    width: 100%;
    height: 150px;
    float: left;
    background: url(../img/secondbg.png) no-repeat 100% 100%;
    background-size: cover;
    position: relative;
}


/* ----------< product catd >------- */
.itemCartContainer {
    width: 100%;
    float: left;
}

.itemCartGeneral {
    width: 93.75%;
    margin: 0 auto;
}

.itemSlideContainer {
    width: 100%;
    float: left;
    position: relative;
}
.itemSlideContainer img{
    width: 100%;
}
.customURL.itemFullCart {
    margin-bottom: 20px;
}
.slideNavigation {
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 3px;
    background: rgba(0,0,0,0.30);
}
.slideArrow{
    width: 27px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.slideArrow.arrowRight{
    float: right;
    background-image: url(../img/rightarrow.svg);
    margin-right: 40px;
    margin-top: 17px;
}
.slideArrow.arrowLeft{
    float: left;
    background-image: url(../img/leftarrow.svg);
    margin-top: 17px;
    margin-left: 40px;
}
.navDots {
    float: left;
    margin-left: 26.6667%;
}
.navDots li {
    background-color: #d8d8d8;
    border: 1px solid #979797;
    border-radius: 45px;
    box-sizing: border-box;
    float: left;
    height: 19px;
    margin-top: 26px;
    margin-right: 21px;
    width: 19px;
}
.navDots li:last-child{
    margin-right: 0;
}

.itemCost {
    float: left;
    width: 50%;
}
.itemCost > span {
    color: #000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 48px;
}
.itemCost .oldItemPrice {
    color: #fc3768;
    float: left;
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.itemShippingCost {
    float: right;
    width: 50%;
}
.itemShippingCost > p {
    color: #666666;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: right;
}
.itemShippingCost span {
    color: #000;
    font-family: "Myriad Pro",sans-serif;
    font-size: 48px;
    margin-left: 14px;
}
.itemPayInfo > span {
    color: #000;
    float: left;
    font-size: 40px;
    margin-bottom: 35px;
    margin-top: 35px;
    text-transform: uppercase;
}
.itemPayInfo > p {
    color: #666666;
    float: left;
    font-size: 30px;
}
.btnAddToCart,
.btnExpressCheckout{
    float: left;
    width: 99%;
    height: 95px;
    border: 0;
    background: #00CCCC;
    box-shadow: 6px 6px 0 0 rgba(149, 149, 149, .5);
    font-size: 30px;
    color: #fff;
    line-height:100px;
    text-align: right;
    text-transform: uppercase;
    font-weight:500;
    position: relative;
    padding-right: 4.333333333333%;
    cursor: pointer;
}
.btnAddToCart{
    background: #8196AF;
    margin-top: 30px;
}
.btnExpressCheckout{
    margin-top: 23px;
    margin-bottom: 50px;
}
.btnAddToCart span,
.btnExpressCheckout span{
    display: block;
    position: absolute;
    left: 4.333333333333%;
    background-size: contain;   
}
.btnAddToCart span{
    width: 42px;
    height: 45px;
    background: url(../img/tocart.svg) no-repeat 0 0;
    top: 25px;
}
.btnExpressCheckout span{
    width: 119px;
    height: 33px;
    background: url(../img/paypal.svg) no-repeat 0 0;
    top: 32px;
}
.itemDetail,
.itemShippingReturn,
.socialShareButton{
    width: 100%;
    float: left;
    border: 1px solid #979797;
    box-sizing: border-box;
    padding: 30px 6.666666666667%;
    margin-bottom: 28px;
}
.itemDetail span,
.itemShippingReturn span{
    font-size: 30px;
    color: #000;
    font-weight: 600;
    text-align: left;
    line-height: 36px;
    text-transform: uppercase;
    float: left;
    margin-bottom: 30px;
    clear: both;

}
.itemDetail p,
.itemShippingReturn p{
    color: #333;
    font-size: 30px;
    line-height: 50px;
    float: left;
    margin-bottom: 30px;
}
.itemDetail table{
    float: left;
}
.itemDetail td {
    border: 2px solid #d6d6d6;
    border-collapse: collapse;
    box-sizing: border-box;
    color: #000;
    font-size: 26px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    width: 135px;
}
.itemDetail th {
    color: #909294;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}

.infoAboutDelivery{
    width: 100%;
    float: left;
}
.deliveryTime,
.freeReturn {
    width: 50%;
    float: left;
}
.deliveryTime > span, .freeReturn > span {
    color: #333;
    display: block;
    font-size: 30px;
    margin: 18px auto 45px;
    text-align: center;
    width: 70%;
}
.freeReturn{
    float: right;
}
.deliveryTime .logo {
    width: 56px;
    height:  69px;
    margin: 0 auto;
    background: url(../img/clock.svg) no-repeat 0 0;
    background-size: contain;
}
.freeReturn .logo {
    width: 54px;
    height: 58px;
    margin: 0 auto;
    background: url(../img/return.svg) no-repeat 0 0;
    background-size: contain;
}
.socialShareButton{
    float: left;
    
}
.socialShareButton span{
    float: left;
    margin-bottom: 55px;
    font-size: 30px;
    color: #000;
    font-weight: 600;   
}
.socialShareButton a{
    float: left;
    height: 72px;
    width: 73px;
    margin-right: 6.666666666667%;
    margin-bottom: 20px;
}
.socialShareButton a:first-of-type{
    background: url(../img/social/fb.svg) no-repeat 0 0;
}
.socialShareButton a:nth-of-type(2){
    background: url(../img/social/tw.svg) no-repeat 0 0;
}
.socialShareButton a:nth-of-type(3){
    background: url(../img/social/pin.svg) no-repeat 0 0;
}
.socialShareButton a:nth-of-type(4){
    background: url(../img/social/gplus.svg) no-repeat 0 0;
}
.socialShareButton a:nth-of-type(5){
    background: url(../img/social/mail.svg) no-repeat 0 0;
    margin-right: 0;
}

.askQuestionns {
    width: 100%;
    float: left;
}

.askQuestionMain {
    width: 100%;
    height: 100px;
    float: left;
    background: #8196AF;
    font-size: 30px;
    color: #fff;
    text-indent: 6.666666666667%;
    line-height: 100px;
    font-weight: 600;
}
.askQuestionMain span{
    width: 50px;
    height: 30px;
    float: right;
    background-image: url(../img/downarrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 35px;
    margin-right: 4.166666666667%;
}
.askQuestionMain .noActiveArrow{
    background-image: url(../img/menu-togge.svg);
    background-size: contain;
}
.askQuestionRequest {
    width: 100%;
    float: left;
    background: rgba(129,150,175,0.70);
}
.askQuestionRequest input[type="text"], .askQuestionRequest textarea {
    border: 0 none;
    box-sizing: border-box;
    color: #666;
    float: left;
    font-size: 36px;
    height: 85px;
    padding: 0 30px;
    width: 100%;
}
.askQuestionRequest textarea{
    width: 100%;
    background: #fff;
    height: 250px;
    resize: none;
    padding: 10px 30px
}
.askQuestionRequest label{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fff;
    line-height: 43px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
}
.askQuestionRequest button {
    background: none repeat scroll 0 0 #00cccc;
    border: 0 none;
    box-shadow: 6px 6px 0 0 rgba(255, 255, 255, 0.61);
    color: #fff;
    float: right;
    font-size: 30px;
    font-weight: 600;
    height: 93px;
    line-height: 43px;
    margin-bottom: 61px;
    margin-top: 50px;
    text-transform: uppercase;
    width: 49.8077%;
}
.askQuestionRequestContainer {
    width: 86.666666666667%;
    float: left;
    margin-left: 6.666666666667%;
}

/* ---------< about us >-------  */
.aboutChapter{
    width: 100%;
    float: left;
    padding: 30px 0;
    text-align: left;    
    font-size: 28px;
    line-height: 32px;
    color: #8196AF;
    text-transform: uppercase;
}
.aboutUsContainer{
    width: 100%;
    float: left;
}
.aboutUsGeneral{
    width: 93.75%;
    margin: 0 auto;
}
.aboutUsSection {
    border-top: 1px solid #979797;
    float: left;
    margin-bottom: 36px;
    width: 100%;
}

.sectionContent > p {
    color: #333;
    font-family: "Myriad Pro",sans-serif;
    font-size: 28px;
    line-height: 50px;
/*    margin-bottom: 30px;*/
    text-align: left;
}
.sectionContent p + p {
    margin-top: 30px;
}
.boldParagraph + p {
    margin-top: 0 !important;
}
.aboutUsSection.altStyle .sectionContent > p{
    font-family: 'Gill Sans', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 42px;
}
.aboutUsSection.altStyle .sectionContent p + p{
    margin-top: 19px;
}
.aboutUsSection.altStyle .sectionHeader{
     margin-top: 35px !important;
 }
.altStyle .boldParagraph {
    margin-bottom: 11px !important;
    margin-top: 26px !important;
}
.boldParagraph {
    font-weight: 600;
}
.altStyle .importantText {
    color: #8196af;
    font-size: 36px !important;
    font-weight: 600;
    line-height: 45px !important;
    text-align: left;
    margin-top: 35px !important;
}
.sectionHeader > span {
    float: left;
    font-size: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 55px;
}
.contactFace{
    width: 220px;
    height: 220px;
    float: left;
    background-image: url(../img/about/contactface.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-bottom: 15px;
}
.aboutUsSection.usContacts p{
    font-size: 34px;
    color: #333;
    font-family: 'Myriad Pro', sans-serif;
    text-align: left;
}
.sectionHeader {
    width: 100%;
    float: left;
    margin-top: 50px;
}
.sectionHeader span{
    margin-bottom: 15px;
}
.sectionHeadIco {
    width: 50px;
    height: 55px;
    float: left;
    background-repeat: no-repeat;
    background-position: top center;
    margin-right: 28px;
}
